/* @import  './App.module.css'; */
.header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #002452;
    position: fixed;
    top:0;
    width:100%;
    border-radius: 0 0px 10px 10px;
    z-index: 100;
    height: 65px;
    border-bottom: 4px solid #004db2;
}

.logo {
    width: 200px;  /* Adjust the size of the logo */
}

.nav {
    display: flex;
}

.navLinks {
    display: flex;
    color: white;
    list-style: none;
    gap: 1.5rem;
    padding-top: 25px;
    padding-right: 20px;
}
.navLinks li{
    padding: 3px 2px;
    transition: 0.4s;
}

.navLinks a {
    text-decoration: none;
    font-weight: 500;
    padding: 5px;
    color: white;
}

.navLinks li:hover {
    background-color: #1158ae2c;
    border-radius: 30px;
    transform: translateY(-1.5px);
}
.Login{
    background-color:#0d4a9a3f;
    border-radius: 10px;
    font-weight: 600;
    border: 1px solid rgba(255, 255, 255, 0.251);
}
.testimonials{
    margin-top: 70px;
}