/* Ensures the entire page background is white */
.pageContainer {
    background-color: white; /* Sets the outer background to white */
    min-height: 100vh; /* Fills the viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    padding-top: 60px;
    padding-bottom: 60px;
}

/* Styles for the form itself */
.contactForm {
    background-color: #f9f9f9; /* Slightly off-white to contrast */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}


h2, h3 {
    text-align: center;
    color: #333;
}

.formGroup {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="passowrd"]
input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.submitButton {
    width: 100%;
    padding: 10px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submitButton:hover {
    background-color: #0056b3;
}
