.dbcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: #f7f9fc;
    min-height: 100vh;
    margin-top: 70px;
}

.dbheader {
    font-size: 32px;
    color: #343a40;
    font-weight: bold;
    margin-bottom: 10px;
}

.description {
    font-size: 16px;
    color: #6c757d;
    margin-bottom: 30px;
}

.dbcardsContainer {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.dbcard {
    position: relative;
    width: 250px;
    padding: 20px;
    margin-left: 30px;
    margin-right: 50px;
    border-radius: 10px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
    background-color: #ffffff;
    transition: transform 0.3s ease;
}

.dbcard:hover {
    transform: translateY(-10px);
    cursor: pointer;
}
.dbbutton {
    cursor: pointer;
}

.iconContainer {
    font-size: 40px;
    color: #495057;
    margin-bottom: 15px;
}

.status {
    font-weight: bold;
    margin: 10px 0;
}

.statusCompleted {
    color: #28a745;
}

.statusUncompleted {
    color: #dc3545;
}

.completed {
    background-color: #eaf8f1;
    border: 2px solid #28a745;
}

.uncompleted {
    background-color: #f2f2f2; /* Light ash color */
    border: 2px solid #ccc; /* Neutral border color */
}

.uncompleted .dbbutton {
    background-color: #a6a6a6; /* Muted ash color for button */
    color: #ffffff;
}

.dbbutton {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dbbutton:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

.completed .dbbutton {
    background-color: #28a745;
}
.loginMessage {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s;
}
.dbcard:hover .loginMessage {
    display: block;
    opacity: 1;
}